.grid {
  margin-top: 2em;
}

.grid-sizer, .grid-item {
  width: 320px;
}
.grid-item {
  float: left;
  height: 200px;
  margin-bottom: 20px;
}

.grid-item.grid-item-width2  { width: 660px; }  /* 320 * 2 + 20    */
.grid-item.grid-item-width3  { width: 1000px; } /* 320 * 3 + 20 * 2 */
.grid-item.grid-item-height2 { height: 420px; } /* 200 * 2 + 20     */
.grid-item.grid-item-height3 { height: 640px; } /* 200 * 3 + 20 * 2 */


.grid-item img {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

